@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
    color: #2d2d2d;
}

.notes_inner {
    display: flex;
    /* grid-template-columns: auto auto auto auto auto; */
    gap: 10px;
}

.notes .addnote, .notes .note {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #e8e8e8;
    border-radius: 10px;
    aspect-ratio: 1/1;
    cursor: pointer;
    width: 220px;
    flex-wrap: wrap;
}
.notes .note {
    align-items: flex-start;
    padding: 1.5rem;
    justify-content: center;
    cursor: initial;
    width: 220px;
}
.notes .note h2 {
    margin-bottom: 1rem;
}
.notes .note p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.notes .note hr {
    background: #2d2d2d;
    width: 100%;
    margin: auto 0 1rem;
}
.notes .note span {
    font-size: 1.2rem;
    font-weight: 600;
}
.notes .note .setnote {
    cursor: pointer;
    display: flex;
}
.notes .setnote {
    position: relative;
}
.notes .setnote > .setnote_popup {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}
.notes .setnote > .setnote_popup.show{
    display: block;
}
.notes .setnote button {
    padding: 7px 5px;
    color: #666;
    border: none;
    text-align: left;
    transition: .5s;
    cursor: pointer;
    font-size: 1.1rem;
    background: transparent;
}
.notes .setnote button:hover {
    color: #000;
}
.notes .setnote_popup button:first-child {
    border-bottom: 1px solid #e8e8e8;
}
.notes .note .note_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.notes .addicon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    border: 2px dashed #1E3050;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.notes .addicon i {
    font-size: 1.3rem;
    color: #1E3050;
}

.notes p {
    color: #1E3050;
    font-size: 1.3rem;
}

.addnote_popup {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.9);
    display: none; */
}
.addnote_popup.show {
    display: flex;
}
.addnote_popup .close_pop {
    position: fixed;
    right: 50px;
    top: 50px;
    font-size: 2rem;
    color: #ffffff;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
.addnote_popup .close_pop:hover {
    opacity: 1;
}
.addnote_inner {
    width: 400px;
    height: calc(100vh - 20%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background: #e6e6e6;
    margin: 0 auto;
    padding: 2rem;
}

.addnote_inner i {
    font-size: 3rem;
    margin: 0 auto 25px;
    color: #1E3050;
}
.addnote_inner input,
.addnote_inner textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: .6rem;
    border: none;
    border-radius: 4px;
}

/* .addnote_inner textarea {
    height: ;
} */
.addnote_inner label {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.addnote_inner button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    max-width: 250px;
    margin: 40px auto 0;
    cursor: pointer;
}

.addnote_inner button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

#note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}